awscli==1.14.56
boto3==1.6.9
botocore==1.9.9
certifi==2022.12.7
chardet==3.0.4
colorama==0.3.7
docutils==0.14
idna==2.6
jmespath==0.9.3
pyasn1==0.4.2
pynamodb==3.2.1
python-dateutil==2.6.1
pytz==2018.3
PyYAML==3.12
requests==2.18.4
rsa==3.4.2
s3transfer==0.1.13
six==1.11.0
urllib3==1.22
